*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;

}
body{
    background-image: url('images/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    position: relative;
}
.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #003bfe73,#00fff286 );
    color: #fff;

    position: relative;
    top: 100px;     /* Moves the element 100px from the top */
    left: 35%;      /* Centers horizontally */
    transform: translateX(-50%); /* Fine-tunes centering */
    border: 2px solid rgba(236, 235, 235, 0.726);


    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    opacity: 0; /* Start invisible */
    transform: scale(0.9); /* Start slightly smaller */
    animation: fadeInScale 1.5s ease-out forwards; /* Trigger animation */
}
@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color:  #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
        border: 0;
        outline: 0;
        background: #ebfffc;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        cursor: pointer;       
    }
.search button img{
    width: 20px;
}
.wheather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    text-align: left;
    align-items: center;
}
.col img{
    width: 40px;
    margin-right: 20px;
}
.humidity , .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px ;
    font-size: 15px;
    margin-top: 10px;
    color: red;
    display: none;

}
.footer {
    background: linear-gradient(135deg, #003bfe73,#00fff286 );
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.352); /* Soft shadow */
    z-index: 2;
}
.footer-content p {
    font-size: 16px;
    margin: 10px 0;
}
.email-link {
    color: #f4f4f4;
    text-decoration: none;
    font-weight: bold;
}
.email-link:hover {
    color: #000000;
}
@media (max-width: 768px) {
    .footer-content p {
        font-size: 14px;
    }
}
